language: python
dist: xenial
python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"
    - "3.7"
    - "3.8"
    - "pypy3.5"
install:
 - pip install nose
 - pip install coveralls
 - pip install coverage
script:
 - nosetests
 - coverage run -m nose
after_success:
 - coveralls
