name: Codecov
on: [push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup Python
        uses: actions/setup-python@master
        with:
          python-version: '3.10'
      - name: Lint
        run: |
          pip install -r requirements/dev.txt
          make lint
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python: ['2.7', '3.6', '3.7', '3.8', '3.9', '3.10', 'pypy-3.8']
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}

    steps:
      - uses: actions/checkout@master
      - name: Setup Python
        uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python }}
      - name: Generate Report
        run: |
          pip install coverage
          coverage run -m test_simpleeval
          coverage xml
      - name: Upload to codecov
        uses: codecov/codecov-action@v2
        with:
          files: coverage.xml
          verbose: true
